.login-container-background {
  height: 100vh;
  width: 100%;
  display: flex;

  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 10px 12vw;

  background-color: var(--blue);
  background-image: url("/icons/login-background.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 45%;
}

.login-container {
  display: flex;
  flex-direction: column;
}

.login-container > img {
  margin-bottom: 6rem;
  width: 80%;
}

.login-container > strong {
  color: var(--white);
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.github-button {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 80%;

  border: none;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(57, 65, 150, 1),
    rgba(73, 83, 184, 0.2)
  );
}

.github-button:hover {
  outline: 2px solid var(--title);
}

.github-button > img {
  margin-right: 3rem;
}

.github-button > span {
  color: var(--white);
  font-weight: 400;
  font-size: 1.2rem;
  text-align: start;
}
